.knob {
	background-color: #008c7b;
	text-align: center;
	font-family: Asap, Avenir, Arial, sans-serif;
	width: 30px;
	height: 30px;
	position: absolute;
  top: 34px;
  right: 0;
  z-index:2;

  border: 2px solid #f5f5f5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
	border-radius:50%;
  background: #ffffff;
  box-shadow: 0 0 3px gray;
  transform: translate3d(-574px, 0px, 0px);
}

.knob:hover {
  background: #adadad;
}

.range {
  background-color: rgba(199, 199, 199, 0.53);
  height:20px;
  position:relative;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
	border-radius: 10px;
}

.qty {
  color: #6b6b6b;
  font-size: 30px;
  font-weight: bold;
  left: -3px;
  position: relative;
  bottom: -25px;
}

.title {
  color: #676767;
}
